@media only screen and (max-width:500px) {
    .textcontainer {
        padding: 0 0.725rem !important;
    }

    .textcontainer>p {
        font-size: 15px !important;
    }
}

.title {
    user-select: none;
    width: fit-content;
    margin: auto;
    padding: 13px 15px;
    font-size: 1.8em;
    padding-top: 30px;
    border-bottom: 1px solid var(--color-divider);
    color: var(--color-text-dark);
    text-align: center;
}

.subtitle {
    user-select: none;
    width: fit-content;
    border: var(--color-divider) solid 1px;
    border-top: var(--color-raised-bg) solid 1px;
    margin-top: -1px;
    color: var(--color-text-inactive);
    padding: 10px;
}

.subtitlecontainer {

    display: flex;
    gap: 25px;
    justify-content: center;
}

.title:hover {
    color: var(--color-text);
    cursor: pointer;
}

.subtitle:hover {
    color: var(--color-text);
    cursor: pointer;
}

.textcontainer>p {
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    font-size: 16.5px;
    margin: 1.2rem 0;
    line-height: 2.15;
    font-weight: normal;
}

.textcontainer {
    padding: 20px 40px;
}

.ccontainer {
    max-width: 960px;
    margin: auto;
}