@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-icon: #96a2b0;
    --color-text: #b0bac5;
    --color-text-inactive: #929aa3;
    --color-text-dark: #ecf9fb;
    --color-heading: #c4cfdd;
    --color-bg: #131518;
    --color-border: #121316;
    --color-raised-bg: #1a1c21;
    --color-divider: #474b54;
    --color-divider-dark: #646c75;
    --color-text-inverted: var(--color-bg);
    --color-bg-inverted: var(--color-text);
    --color-brand: #1bd96a;
    --color-brand-hover: #2de391;
    --color-brand-active: #55f5ae;
    --color-brand-inverted: #000;
    --tab-underline-hovered: #414146;
    --color-button-bg: #26292e;
    --color-button-text: var(--color-text);
    --color-button-bg-hover: #494f58;
    --color-button-text-hover: #fff;
    --color-button-bg-active: #616570;
    --color-button-text-active: var(--color-button-text-hover);
    --color-button-bg-disabled: #3a434d;
    --color-button-text-disabled: #555d65;
    --color-transparent-button-bg-hover: var(--color-button-bg);
    --color-transparent-button-text-hover: var(--color-text-dark);
    --color-transparent-button-bg-active: var(--color-button-bg-hover);
    --color-transparent-button-text-active: var(--color-text-dark);
    --color-dropdown-bg: var(--color-button-bg);
    --color-dropdown-text: var(--color-button-text);
    --color-category-bg: var(--color-button-bg);
    --color-category-text: var(--color-text-dark);
    --color-tooltip-bg: var(--color-text);
    --color-tooltip-text: var(--color-bg);
    --color-code-bg: var(--color-button-bg);
    --color-code-text: var(--color-text-dark);
    --color-ad: #2c323a;
    --shadow-dropdown: 3px 3px 14px rgba(0, 0, 0, 0.15);
    --shadow-dropdown-strong: 3px 3px 20px rgba(0, 0, 0, 0.15);
    --shadow-tooltip: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.15);
    --color-link: #74b6f3;
    --color-link-hover: #92c0f5;
    --color-link-active: #b5d5fd;
    --color-badge-gray-bg: #646161;
    --color-badge-gray-text: #c8c1c1;
    --color-badge-red-text: #bd1a48;
    --color-badge-red-bg: #db3162;
    --color-badge-green-text: #1ebb7b;
    --color-badge-green-bg: #24a54e;
    --color-badge-yellow-text: #dba22d;
    --color-badge-yellow-bg: #f7bb43;
    --color-yellow-dark: #b78f40;
    --color-block-quote: var(--color-code-bg);
    --color-header-underline: var(--color-tooltip-text);
    --color-hr: var(--color-text);
    --color-table-border: #4f5864;
    --color-table-alternate-row: #262a30;
    --size-rounded-xs: 0.5rem;
    --size-rounded-sm: 0.75rem;
    --size-rounded-md: 1rem;
    --size-rounded-lg: 1.25rem;
    --size-rounded-max: 999999999px;
    --size-rounded-card: 1rem;
    --size-rounded-icon: 1rem;
    --size-rounded-control: 0.25rem;
    --size-rounded-tooltip: 0.25rem;
    --size-navbar-height: 3.5rem;
    --size-mobile-navbar-height: 4rem;
    --spacing-card-lg: 1.5rem;
    --spacing-card-bg: 1rem;
    --spacing-card-md: 0.75rem;
    --spacing-card-sm: 0.5rem;
    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-nm: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-standard: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0px;
}

body {
    background-color: var(--color-bg);
    margin: 20px;
    font-family: var(--font-standard);
    font-weight: 600;
}

.navbar>a>img {
    height: 99px;
}

.navbar>a>span {
    font-size: var(--font-size-xl);
    color: white;
}

.navbar>a {
    user-select: none;
    cursor: pointer;
    float: left;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar {
    margin: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    color: var(--color-text-inactive)
}

.navbar>ul {
    display: flex;
    gap: 20px;
}

.navbar>ul>a {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-weight: 700;
    position: relative;
}

.navbar>ul>a:hover:before {
    background-color: var(--tab-underline-hovered);
}

.navbar>ul>a:hover {
    color: var(--color-text);
}

.navbar>ul>a::before {
    content: '';
    background-color: transparent;
    position: absolute;
    width: 60%;
    height: 4px;
    margin-bottom: -6px;
    bottom: 0;
    left: 20%;
    border-radius: var(--size-rounded-max);
}

a {
    all: unset;
    cursor: pointer;
}


.mbody {
    /*font-family: "Nunito Sans", sans-serif;*/
    background-color: var(--color-raised-bg);
    border-radius: 1rem;
}

@media only screen and (max-width:500px) {
    .navbar>a>img {
        image-rendering: -webkit-optimize-contrast;
        height: 87px;
    }

    body {
        margin: 0;
        height: 100vh;
    }

    .navbar>ul {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        margin: 0;
        margin-bottom: 3px;
        padding-top: 12px;
        gap: 3px;
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .mbody {
        width: 100%;
        border-radius: 0rem;
    }
}